<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
		<link href="https://fonts.googleapis.com/css?family=Cinzel|Meddon|Playfair+Display+SC" rel="stylesheet">
		
		<link rel="stylesheet" href="/assets/css/whiskey_style.css" type="text/css" />
		<title>Whiskey United</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{{!-- <script src="../../public/assets/js/app.js"></script> --}}
		<script src="/assets/js/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>